
<div class="hero">
  <br />
  <div class="col-10 offset-1 text-center">
    <h1>Welcome to Cobblestone Industries, Inc.</h1>
    <hr/>
    <div id="block_container">
      <div id="bloc1"><h2>A contracted</h2></div>
      <div id="bloc2"><span class="fab fa-fedex fa-4x"></span></div>
      <div id="bloc3"><h2>company</h2></div>
    </div>
    <br /><br /><br />
  </div>
</div>
<br />

<div class="container">
  <div class="row text-center">
    <div class="col-md">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top1" alt="">
      <div class="card-body">
        <h5 class="card-title">A day in the life..</h5><hr>
        <p class="card-text">What is it like to be a driver at Cobblestone? Walk through a typical day for one of our drivers and learn more about our competitive pay & benefits package.</p>
          <a href="/learn" class="button2">Learn More</a>
        <br /><br />
      </div>
    </div>
  </div>
    <div class="col-md">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top2" alt="">
    <div class="card-body">
      <h5 class="card-title">Looking for a Career?</h5><hr>
        <p class="card-text">Our drivers are fun, driven individuals who deliver on customer service and safety every day. Become an important part of our team today.</p>
        <a href="jobs/new" class="button2">Apply Now</a>        
      <br /><br /><br />
    </div>
  </div>
    </div>
    <div class="col-md">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top3" alt="">
    <div class="card-body">
      <h5 class="card-title">About Cobblestone</h5><hr>
      <p class="card-text">From the beginning, we were a different kind of company. Learn about the history of our unique company and about our mission going forward.</p>
      <a href="/about" class="button2">About CII</a>
      <br /><br />
    </div>
  </div>
    </div>
  </div>
</div>


<%= yield %>
  <br />
  <br />
  <br />
  <div class="footer">
    <ul class="nav">
      <li><%= link_to 'https://www.facebook.com/CobblestoneIndustriesInc/' do %><span class="fab fa-facebook">Visit us on Facebook!</span>
        <% end %></li>
      <li><a href="admins/sign_in" <span class="fas fa-lock"> Admin</span></a></li>
    </ul>
  </div> 