

<div class="hero2">
  <br />
   <div class="text-left">
    <a  href="/" class="button">Home</a>
  </div>
</div>
<br />

<div class="container">
  <div class="text-center">
    <h3>A Day in the Life</h3>
    <hr><br>
  

        <p align="justify">What's it like to be a professional delivery driver for Cobblestone Industries? Ask any delivery driver and they'll tell you that every day is different and each day presents a new challenge. Let's walk through a typical day being a professional delivery driver.</p><br><br>
    </div>
    <div class="day">
      <ul>
        <li>Arrive at work ready to rock!</li>
        <li>Go through packages and make sure they are all where they should be and accounted for. This is also our social time.. we are a fun team!</li>
        <li>Gather tools of the trade, manifest, gps, handcart, and all necessary paperwork.</li>
        <li>Complete a pre-trip inspection on your vehicle and make sure you have enough fuel for the day.</li>
        <li>Buckle your seatbelt and safely drive to your route.</li>
        <li>Attempt each delivery in good faith. We take this part of our job very seriously. We are a company that takes pride in providing exceptional customer service to the people on our routes.</li>
        <li>When all deliveries are attempted, safely drive back to the terminal.</li>
        <li>Complete a post-trip inspection on your vehicle.</li>
        <li>Log out of your scanner and clean out your vehicle.</li>
        <li>Have a great evening!</li>
      </ul>
      <img src="../assets/fella.jpg" class="rounded mx-auto d-block" alt="...">
      <br>
      <p> This career is highly independent and is a great fit for people who love being outside and active. We do a lot of driving, running, and lifting. We also get to bring people the things they want, need, and love. We deliver more than just packages.. we deliver fun! Does this sound like fun to you? Apply to join our team today!</p>
    </div>
</div>










