@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');


body {
 background: image_url('brickwall.png');
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
}

h5 {
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  padding-top: 7px;
}



.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.hero2 {
  background: image_url('homes.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.hero3 {
  background: image_url('passion1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;   
}

.card {
  height: 600px;
  background: #fff4f2;
}

.card-img-top1 {
  background: image_url('cart.jpg');
  height: 150px;
  font-size: 24px;
  font-weight: 90px;
}


.card-img-top2 {
  background: image_url('dude.jpg');
  height: 150px;
  font-size: 24px;
  font-weight: 90px;
}

.card-img-top3 {
  background: image_url('day.jpg');
  height: 150px;
  font-size: 24px;
  font-weight: 90px;
}

.btn {
  border-radius: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;

}


.text-center {
  font-size: 22px;
  margin-right: 20px;
  margin-top: 20px;
}


.display-4 {
  background: image_url('home1.jpg');
}

.day {
  font-size: 20px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.text-align {
  margin-left: 40px;
}


a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    text-align: center;
}

a.button {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    position: absolute;
    margin-left: 10px;

}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a.button2 {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;

}

a.button2:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}

.button2 {
  margin-bottom: 10px;
}

.nav {
  background: image_url('brickwall.png');
  padding: 20px;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#block_container {
  text-align: center;
}

#bloc1, #bloc2, #bloc3 {
  display: inline;
}

